@model ItStore.Models.DataFolder.ProductCartViewModel
<div class="product__cart row">
    <div id="carouselExampleFade" class="carousel slide col" data-bs-ride="carousel">
        <div class="carousel-inner position">
            <div class="carousel-item active">
                @foreach (var q in Model.Products)
                {
                    @Html.Raw("<img class='d-block' style='width:209px; height:210px;' src=\"data:image/jpeg;base64,"
                                              + Convert.ToBase64String(q.Image) + "\" />")
                }
            </div>
            @foreach (var q in Model.Pictures)
            {
                @Html.Partial("ProductPicture", q)
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Назад</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Вперед</span>
        </button>
    </div>
    <div class="col">
        @foreach (var q in Model.Products)
        {
            @Html.Partial("ProductInformation", q)
        }
    </div>
</div>
<div>
    <h3 class="text-white text-center"><b> Подробные характеристики</b></h3>
    <table class="text-white row">
        @foreach (var q in Model.Options)
        {
            @Html.Partial("ProductOption",q)
        }
    </table>
</div>
