@{
    Layout = "_AdminLayout";
}
@model HistoryViewModel

<div class="container" style="align-content:center;">
    <img src="~/Images/MainPages/AdminPicture.png" />
</div>

<table class="row-col-md-4">
    <tr>
        <th>Наименование</th>
        <th>Количество</th>
        <th>Цена</th>
        <th>Дата заказа</th>
    </tr>
    @foreach (var order in Model.Order)
    {
        @foreach (var cartline in Model.CartLine)
        {
            @foreach (var product in order.Lines.Where(q => q.CartLineId == cartline.CartLineId))
            {

                <tr>
                    <td>@product.Product.Name</td>
                    <td>@cartline.Quantity</td>
                    <td>@order.TotalPrice</td>
                    <td>@order.TimeOrders</td>
                </tr>
            }
        }
    }

</table>