@model IEnumerable<Picture>
<div class="intro intro__title">
    <div class="container">
        <h1>Аккаунт администратора: @User.Identity.Name</h1>
        @foreach (var q in Model.Where(q => q.Name == User.Identity.Name))
        {
            @Html.Raw("<img style='width:240px; height:320px;' src=\"data:image/jpeg;base64,"
                                        + Convert.ToBase64String(q.Image) + "\" />")
        }
        <form asp-action="Logout method="post">
            <button class="btn" asp-area="" asp-controller="Account" asp-action="Logout">Выйти</button>
        </form>
        <p>
            <a class="btn" asp-controller="Picture" asp-action="Picture">Библиотека изображений</a>
            <a class="btn" asp-controller="Picture" asp-action="Create">Добавление изображений</a>
            <a class="btn" asp-controller="AdminRole" asp-action="PageRole"> Управление доступа пользоваталей</a>

            <a class="btn" asp-controller="WareHouse" asp-action="WareHouseForm">Заполнение данных о складе</a>
            <a class="btn" asp-controller="Product" asp-action="ProductForm">Форма заполнения товара</a>

            <a class="btn" asp-controller="Chart" asp-action="Chart">Аналитика продаж</a>
        </p>

    </div>
</div>
