@model ItStore.Models.SystemsFolder.LoginModel
<div class="intro container">
    <img class="login__image__left" src="~/Images/Ellipse .png" />
    <img class="login__image__right" src="~/Images/EllipseDark.png"/>
    <div class=" row">
        <form asp-action="login" method="post" class="col">
            <div asp-validation-summary="All"></div>
            <p>
                <label asp-for="Login">Логин</label>
                <input class="form-control" asp-for="Login" />
            </p>
            <p>
                <label asp-for="Password">Пароль</label>
                <input class="form-control" asp-for="Password" />
            </p>
            <button class="btn">Войти</button>
            <button class="btn" type="submit" asp-controller="Account" asp-action="UserCreate">Регестрация</button>

        </form>
        <div class="col">
            <img class="login__main__image" src="~/Images/MainPages/Login/Login.png" />
        </div>
    </div>

</div>
