<div class="intro intro__title">
    <div class="container">
        <form asp-action="Logout method="post">
            <p>
                <button class="btn" asp-area="" asp-controller="Account" asp-action="Logout">Выйти</button>
            </p>
        </form>
        <h1>Hi @User.Identity.Name</h1>
    </div>
</div>

