@model ItStore.Models.SystemsFolder.CreateUserModel
<div class="intro container">

    <img class="reg__image__left" src="~/Images/Ellipse .png"/>
    <img class="reg__image__right" src="~/Images/EllipseDark.png"/>
    <div class="container row">
        <form asp-action="UserCreate" metod="Post" class="col-md-5">
            <h3 class="text-center">Регистрация</h3>
            <div asp-validation-summary="All"></div>
            <p>
                <label asp-for="Login">Логин</label>
                <input class="form-control" asp-for="Login" />
            </p>
            <p>
                <label asp-for="Password">Пароль</label>
                <input type="password" class="form-control" asp-for="Password" />
            </p>
            <p>
                <label name="Password">Повторите пароль</label>
                <input type="password" class="form-control" name="RepeatPassword" />
            </p>
            <p>
                <label asp-for="Email">Электронная почта</label>
                <input type="email" class="form-control" asp-for="Email" />
            </p>

            <button class="btn" asp-controller="Home" asp-action="Index">Назад</button>
            <button class="btn" asp-action="UserCreate">Регситрация</button>

        </form>
        <div class="registraion__image col-md-5">
            <img style="opacity:0.7;" src="~/Images/MainPages/Login/Registration.png" />
        </div>

    </div>
</div>
