@model string
@{
    Layout = "_AdminLayout";
}
<div class="row-cols-md-5">

    <div class="text-danger" asp-validation-summary="All"></div>
    <form asp-action="CreateRole" method="post">

        <div class="form-group">

            <h4>Добавить новую роль</h4>
            <input name="name" class="form-control" />

        </div>

        <button type="submit" class="btn btn-primary mt-2">Добавить</button>
        <a asp-controller="AdminRole" asp-action="PageRole" class="btn btn-secondary mt-2">Назад</a>

    </form>
</div>