@model IEnumerable<IdentityRole>
@{
    Layout = "_AdminLayout";
}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Роли
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Наименование статуса</th>
                    <th>Управление</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var q in Model)
                {
                    <tr>
                        <td>@q.Name</td>
                        <td>
                            <form asp-action="DeleteRole" asp-route-id="@q.Id" method="post">
                                <a class="btn btn-primary btn-sm" asp-action="EditRole" asp-route-id="@q.Id">Редактировать</a>
                                @if (q.Name != "Admin")
                                {
                                    <button class="btn btn-sm btn-danger" type="submit">Удалить</button>
                                }
                            </form>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <a class="btn btn-primary" asp-action="CreateRole">Создать новую роль</a>
    </div>
</div>