body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 18px;
    background-color: #121212;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a,
.a:active,
a:hover {
    text-decoration: none;
    color: white;
}

/*baner
    ================
*/

.banner{
   padding-top:10%;
   width:100%;
   min-height:10rem;
   z-index:10;
}
    .banner h1 {
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 72px;
        line-height: 153.9%;
        /* identical to box height, or 111px */

        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #FFFFFF;
        padding-top: 30%;
    }
    .banner p {   
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 153.9%;
        color: #FFFFFF;
    }
    .banner button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 13px 46px;
        color: white;
        background: none;
        border: 1px solid #6100FF;
        box-sizing: border-box;
        border-radius: 10px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 153.9%;
        /* identical to box height, or 28px */

        text-transform: uppercase;
        font-feature-settings: 'pnum' on, 'lnum' on;
        opacity: 0.70;
        transition: opacity .1s linear;
    }

.banner button:hover {
    opacity: 1;
}


    .banner img{
        max-width:100%;
        max-height:100%;
    }


.banner__link a {
    font-size: 18px;
}

/*header
    ================
*/
.header {
    width: 100%;
    position: sticky;
    top: 0px;
    left: 0;
    z-index: 100;
    background-color: #121212;

}

.header__logo {
    transform: scale();
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    align-items: center;

}

/*nav
    ================
*/
.nav {
    display: flex;
    font-size: 18px;
    font-weight: 700;
}

.navbar{
    display:-webkit-box;
}
.navbar-brand{
    margin-right:0rem;
}
.navbar-light {
    color: rgba(0,0,0,.55);
     border-color: none; 
}
.navbar-toggler {
    color: rgba(0,0,0,.55);
    border-color: none;
}


.nav__link {
    margin-left: 50px;
    color: #fff;
    opacity: 0.75;
    transition: opacity .1s linear;
}

    .nav__link:hover {
        opacity: 1;
    }


/*intro
    ================
*/

.intro {
    height: auto;
    background: #121212;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Open Sans', sans-serif;
}


/*elipse
    ================
*/
.elipse__right {
    position: absolute;
    margin-left: 1001px;
    margin-top: 458px;
    background: #6100ff;
    box-shadow: 0px 0px 250px 250px #380080;
    opacity: 50%;
}

.elipse__left {
    position: absolute;
    margin-left: 111px;
    margin-top: 135px;
    background: #6100ff;
    box-shadow: 0px 0px 250px 100px #5b00a3;
    opacity: 70%;
}

.showcase {
    position: page; /*boolshit*/
    padding-left: 514px;
    padding-top: 134px;
}

.showcase__scale { /*boolshit*/
    transform: scale();
    width: 813px;
    height: 498px;
}
/*button
    ================
*/
.btn {
    background: none;
    color: white;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.70;
    transition: all .1s linear;
}

.btn__link {
    background-color: #121212;
    border: 1px;
    color: none;
}

.btn:hover {
    opacity: 1;
    color: white;
}

.button__style {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 46px;
    background: none;
    color: white;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 153.9%;
    /* identical to box height, or 28px */

    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.70;
    transition: opacity .1s linear;
}

.button__style:hover {
    opacity: 1;
}
/*catalog style
    ================
*/

.product {    
    margin-bottom: 30px;
    background-color: #121212;
    box-shadow: 8px 3px 13px rgba(0, 0, 0, 0.26);
    border-radius: 15px;

}

.elipse__right__catalog {
    position: absolute;
    margin-left: 1001px;
    margin-top: 458px;
    background: #6100ff;
    box-shadow: 0px 0px 250px 250px #380080;
    opacity: 20%;
}

.elipse__left__catalog {
    position: absolute;
    margin-left: 111px;
    margin-top: 135px;
    background: #6100FF;
    box-shadow: 0px 0px 250px 100px #5b00a3;
    opacity: 20%;
}

.image__catalog {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
    margin-bottom: 10px;

}

.info h3 {
    font-size: 21px;
    margin-bottom: 0;

}

.catalog__price {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}

.price {
    font-weight: 300;
    font-size: 18px;
 
}

.btn__catalog {
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a325c;
    color: white;
    border-radius: 10px;
    z-index: 2;
}

.btn__pagin {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    color: none;
    border-radius: 10px;
    z-index: 2;
}

.btn__pagin__selected {
    border: 1px solid #6100ff;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    color: white;
    border-radius: 10px;
    z-index: 2;
}

btn__pagin, .btn__pagin:hover {
    border: 1px solid #c4c4c4;
    background-color: #121212;
    opacity: 80%;
    z-index: 2;
}
/*search style
    ================
*/


.d6 form {
    position: relative;
    width: 300px; 
    margin: 0 auto;
    height: 42px; 
}

.d6 h3{
    opacity:70%;
}

.d6 input {
    height: 42px;
    width: 0;
    padding: 0 42px 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

    .d6 input:focus {
        width: 300px;
        z-index: 1;
        border-bottom: 2px solid #F9F0DA;
    }
    .d6 input:hover{
        background-color:#121212;
    }

.d6 button {
    background: #121212;
    border: none;
    height: none;
    width: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor:pointer;   
}

    .d6 button:before {
        content: "";
        font-family: FontAwesome;
        font-size: 16px;
        color: #F9F0DA;
    }

/* product cart*/

.product__cart {
    padding-top: 10%;
    width: 100%;
    min-height: 10rem;
    z-index: 10;
    background-color:#808080;
}
