body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 18px;
    background-color: #121212;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a,
.a:active,
a:hover {
    text-decoration: none;
    color: white;
}

/*baner
    ================
*/

.banner {
    padding-top: 5%;
    padding-bottom: 2%;
    width: 100%;
    height: 75%;
    min-height: 10rem;
}

    .banner h1 {
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 72px;
        line-height: 153.9%;
        /* identical to box height, or 111px */

        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #FFFFFF;
        padding-top: 30%;
    }

    .banner p {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 153.9%;
        color: #FFFFFF;
    }

    .banner button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 13px 46px;
        color: white;
        background: none;
        border: 1px solid #6100FF;
        box-sizing: border-box;
        border-radius: 10px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 153.9%;
        /* identical to box height, or 28px */

        text-transform: uppercase;
        font-feature-settings: 'pnum' on, 'lnum' on;
        opacity: 0.70;
        transition: opacity .1s linear;
    }

        .banner button:hover {
            opacity: 1;
        }


    .banner img {
        max-width: 100%;
        max-height: 100%;
    }


.banner__link a {
    font-size: 18px;
}

.banner__position {
    bottom: -5%;
}




/*header
    ================
*/
.header {
    width: 100%;
    position: sticky;
    top: 0px;
    left: 0;
    z-index: 100;
    background-color: #121212;
}

    .header a {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
    }

.text__decoration {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
}

.form-control-plaintext {
    padding:0;
}

.modal-body p {
    -webkit-text-stroke: thin;
}

.button {
    border: none;
    background: none;
    opacity: 70%;
}

    .button:hover {
        opacity: 1;
    }


.modal__button {
    display: flex;
    color: black;
    background: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    background: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-feature-settings: 'pnum' on, 'lnum' on;
    border: 1px solid lightgray;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.70;
    transition: opacity .1s linear;
}

.modal__button {
    opacity: 1;
}

.button__none {
    border: none;
    background: none;
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
}

    .form-control-dark:focus {
        color: #fff;
        background-color: var(--bs-dark);
        border-color: #fff;
        box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
    }

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle {
    outline: 0;
}

/*nav
    ================
*/
.nav__link {
    color: #fff;
    opacity: 0.75;
    transition: opacity .1s linear;
}

    .nav__link:hover {
        opacity: 1;
    }

.nav__link_icon {
    margin-left: 26px;
}
/*intro
    ================
*/

.intro {
    height: auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Open Sans', sans-serif;
}


/*elipse
    ================
*/

.elipse__right {
    position: absolute;
    margin-left: 1001px;
    margin-top: 458px;
    opacity: 55%;
    background: #6100ff;
    box-shadow: 0px 0px 250px 250px #380080;
    z-index: -1;
}



/*button
    ================
*/
.btn {
    background: #121212;
    color: white;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.70;
    transition: all .1s linear;
}

.btn__link {
    background-color: #121212;
    border: 1px;
    color: none;
}

.btn:hover {
    opacity: 1;
    color: white;
}

.button__style {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 46px;
    background: none;
    color: white;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 153.9%;
    /* identical to box height, or 28px */

    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.70;
    transition: opacity .1s linear;
}

    .button__style:hover {
        opacity: 1;
    }
/*catalog style
    ================
*/
.dropdown {
    display: contents;
}

.dropdown-item {
}

    .dropdown-item:hover {
        background-color: rebeccapurple;
    }

.info h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    margin-left: 5%;
}

.product {
    margin-bottom: 30px;
    box-shadow: 8px 3px 13px rgba(0, 0, 0, 0.26);
    border-radius: 15px;
    background-color: #121212;
    opacity: 0.85;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

    .product button {
        text-align: left;
        opacity: 90%;
    }

        .product button:hover {
            opacity: 1;
        }

.intro__image__right {
    position: absolute;
    z-index: -1;
    opacity: 60%;
    right: 45%;
    margin-top: -10%;
}

.intro__image__left {
    position: absolute;
    opacity: 55%;
    right: 0%;
    margin-top: 11%;
}

.intro__mostpopular {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 153.9%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}

.elipse__right__catalog {
    position: absolute;
    margin-left: 1001px;
    margin-top: 458px;
    background: #6100ff;
    box-shadow: 0px 0px 250px 250px #380080;
    opacity: 30%;
    z-index: -1;
}

.elipse__left__catalog {
    position: absolute;
    margin-left: 111px;
    margin-top: 135px;
    background: #6100FF;
    box-shadow: 0px 0px 250px 100px #5b00a3;
    opacity: 40%;
    z-index: -1;
}

.image__catalog {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
    margin-bottom: 10px;
    text-align: -webkit-center;
    white-space: pre-line;
}

.info h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    position: absolute;
    width: 286.41px;
    height: 47.67px;
    margin-left: 5%;
}

.catalog__price {
    margin-left: 5%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: white
}

.price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.btn__catalog {
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    color: none;
    border-radius: 10px;
    z-index: 2;
}

.btn__pagin {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    color: none;
    border-radius: 10px;
    z-index: 2;
}

.btn__pagin__selected {
    border: 1px solid #6100ff;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    color: white;
    border-radius: 10px;
    z-index: 2;
}

btn__pagin, .btn__pagin:hover {
    border: 1px solid #c4c4c4;
    background-color: #121212;
    opacity: 80%;
    z-index: 2;
}
/*search style
    ================
*/

.form-control-dark {
    background: #121212;
}
/* product cart*/
.position {
    text-align: -webkit-center;
}


/**ProductCart***************/
.productcart__image__right {
    position: absolute;
    z-index: -1;
    opacity: 0.4;
    right: 50%;
    margin-top: 9%;
    width: 157%;
    height: 82%;
}

.productcart__image__left {
    position: absolute;
    z-index: -1;
    opacity: 0.4;
    margin-top: -13%;
    right: 3%;
    width: 72%;
    height: 102%;
}
/*About us*********************************************/
.aboutus__intro {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 153.9%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}

.aboutus p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 170%;
    color: #AEAEAE;
}

.product__link__catalog {
    border: none;
    background: none;
    width: 100%;
    height: 70%;
    /*white-space: pre-wrap;*/
}

.product__link {
    border: none;
    background: none;
    width: 100%;
    /*min-inline-size: -webkit-fill-available;*/
    white-space: pre-wrap;
}

.product__cart {
    padding-top: 1%;
    width: 100%;
    min-height: 10rem;
    z-index: 10;
    background-color: #161515; /***************************/
    box-shadow: 8px 3px 13px rgba(0, 0, 0, 0.26);
    border-radius: 15px;
}

.product__min__cart {
    background-color: #161515;
    border-radius: 10px;
    margin-top: 13px;
    border-radius: 10px;
    box-shadow: 8px 3px 13px rgb(0 0 0 / 26%);
}

.product__min__cart__picture {
    background-color: #161515;
    border-radius: 10px;
    margin-top: 13px;
    border-radius: 10px;
    height: 250px;
    box-shadow: 8px 3px 13px rgb(0 0 0 / 26%);
}

.text__cart {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: white;
}

    .text__cart span {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        color: white;
    }

.product__cart h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    color: white; /* #AEAEAE*/
}

.product__cart p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 32px;
    color: white;
}

.btn__link__cart {
    background-color: inherit;
    border: 1px;
    color: none;
}

.btn__cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    background: none;
    border: 1px solid #6100FF;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Raleway';
    font-style: normal;
    /* identical to box height, or 28px */

    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    opacity: 0.70;
    transition: opacity .1s linear;
}

    .btn__cart:hover {
        opacity: 1;
    }

.product__cart h4 {
    color: black;
    font-style: italic;
}

.product__cart h3 {
    font-style: italic;
}

.carousel__button__position {
    border: double;
    border-radius: 10px;
    border-color: rebeccapurple;
    width: 13%;
    background: repeating-linear-gradient(45deg, black, transparent 100px);
    opacity: .8;
    background-color: #161515;
}

.carousel-item_slow {
    transition: transform 1.6s ease-in-out;
}

/*Comments*/
.comments ul ul {
    margin-left: 60px;
}

.intro__comment {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #AEAEAE;
}

.comment__border {
    outline: outset;
    border-radius: 10px;
    padding: 5px;
}




.comment__body {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #AEAEAE;
}

.panel__text {
    border-radius: 10px;
    background-color: #171616;
    outline: none;
    opacity: 0.8;
}

.like {
    margin: 5px;
    height: 30px;
    width: 30px;
    opacity: 0.5;
}

.like__position {
    width: min-content;
}

.dislike {
    margin: 5px;
    height: 30px;
    width: 30px;
    opacity: 0.5;
    transform: rotate(180deg);
}


.comments .comment {
    padding: 6px;
}

    .comments .comment:hover {
        background: #eee;
    }

.scrol {
    overflow-y: scroll;
    height: 15rem;
}

.section {
    max-height: 250px;
    padding: 1rem;
    overflow-y: auto;
    direction: ltr;
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;
}

    .section p {
        margin-top: 1rem;
    }


    .section::-webkit-scrollbar {
        width: 20px;
    }

    .section::-webkit-scrollbar-track {
        background-color: #e4e4e4;
        border-radius: 100px;
    }

    .section::-webkit-scrollbar-thumb {
        border-radius: 100px;
        border: 5px solid transparent;
        background-clip: content-box;
        background-color: #8070d4;
    }

/*Footer*/

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.color-dark {
    background-color: #212529;
}

.footer__logo{
    position:absolute;
}

.footer__image {
    height: 50%;
    width: 50%;
}


.footer__position {
    background: rgba(0, 0, 0, .1);
    margin-top: 10px;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}


/*authorize*/
.registraion__image {
    position: absolute;
    left: 43%;
    top: -7%;
    transform: scale(0.5);
}


/*Cart*/

.cart {
}

    .cart h2 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 33px;
        line-height: 153.9%;
        /* identical to box height, or 51px */

        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    .cart td {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 153.9%;
        /* or 32px */

        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #AEAEAE;
    }

    .cart th {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 23px;
        color: #FFFFFF;
        vertical-align: sub;
        padding: 0;
    }

.cart__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    color: #FFFFFF;
}

.cart p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
}

.cart__btn {
    box-sizing: border-box;
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 28px;
    gap: 10px;
    border: 1px solid #6100FF;
    border-radius: 10px;
    background-color: #121212;
    color: white;
    opacity: 0.7;
}

    .cart__btn:hover {
        opacity: 1;
    }

.cart__image__right {
    position: absolute;
    z-index: -1;
    opacity: 60%;
    right: 10%;
    margin-top: -12%;
}

.cart__image__left {
    position: absolute;
    z-index: -1;
    opacity: 55%;
    right: 0%;
    margin-top: -7%;
}

.cart input {
    background-color: #121212;
    color: #595959;
}

    .cart input:after {
        background-color: #121212;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        color: #595959;
        border-color: rebeccapurple;
    }

    .cart input:hover {
        border-color: rebeccapurple;
    }


/*Order*******************/

.order__image {
    margin-top: -26%;
    transform: scale(-1, 1);
    opacity: 0.7;
}

.form__position {
    margin-right: auto;
}

.form__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 153.9%;
    /* identical to box height, or 51px */

    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}

.order__image__left {
    position: absolute;
    z-index: -1;
    opacity: 0.4;
    margin-top: -3%;
    right: 28%;
    width: 86%;
    height: 80%;
}

.order__image__right {
    position: absolute;
    z-index: -1;
    opacity: 0.7;
    right: 0%;
    margin-top: -15%;
    width: 80%;
    height: 80%;
}

.btn__position {
    place-content: space-around;
}

.order__input {
}

    .order__input input {
        opacity: 0.7;
        -webkit-text-stroke: medium;
    }

/*Login**********************/
.login__image__left {
    position: absolute;
    z-index: -1;
    opacity: 0.4;
    margin-top: -13%;
    right: 3%;
    width: 72%;
    height: 102%;
}

.login__image__right {
    position: absolute;
    z-index: -1;
    opacity: 0.7;
    right: 50%;
    margin-top: -10%;
    width: 107%;
    height: 80%;
}

.login__main__image {
    position: absolute;
    opacity: 0.8;
    right: 19%;
    margin-top: -4%;
}

/*Registration******************/

.reg__image__right {
    position: absolute;
    z-index: -1;
    opacity: 0.7;
    right: 50%;
    margin-top: -10%;
    width: 107%;
    height: 80%;
}

.reg__image__left {
    position: absolute;
    z-index: -1;
    opacity: 0.4;
    margin-top: -13%;
    right: 3%;
    width: 72%;
    height: 102%;
}


/*profile****************/
.profile .table {
    color: white;
    border-color: #434343;
}

.border__style {
    float: left
}

.tr__style {
    border-style: hidden;
}

.profile th {
    width: 113px;
    height: 27px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */


    color: #FFFFFF;
}

.profile td {
    width: 54px;
    height: 23px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    color: #FFFFFF;
}

.profile .btn__link {
    color: white;
    float: right;
    opacity: 80%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    max-width: 220px;
}

    .profile .btn__link :hover {
        opacity: 100%;
    }

.profile p {
    float: right;
    margin-bottom: 0
}

.profile h2 {
    width: auto;
    height: 51px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 153.9%;
    /* identical to box height, or 51px */

    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}


.text__end {
    max-inline-size: fit-content;
}

.btn__exit {
    width: 30px;
    height: 30px;
}

.product__min__cart__profile {
    background-color: #161515;
    border-radius: 10px;
    margin-top: 13px;
    border-radius: 10px;
    box-shadow: 8px 3px 13px rgb(0 0 0 / 26%);
    opacity: 0.8;
}

    .product__min__cart__profile :hover {
        opacity: 1;
    }

.profile__image__right {
    position: absolute;
    z-index: -1;
    opacity: 0.7;
    right: 50%;
    margin-top: 3%;
    width: 157%;
    height: 98%;
}

.profile__image__left {
    position: absolute;
    z-index: -1;
    opacity: 0.7;
    margin-top: -13%;
    right: 3%;
    width: 114%;
    height: 102%;
}

.map iframe {
    width: -webkit-fill-available;
}

.btn__footer {
    background-color: #101010;
    border: 1px;
    color: none;
}

.btn__footer__admin {
    background-color: #212529;
    border: 1px;
    color: none;
}