@{
    Layout = "_AdminLayout";
}
@model Options

<div class="card mb-4">
    <div class="card-header">
        <p>
            <i class="fas fa-table me-1"></i>
            Технические характеристики
        </p>
    </div>

    <form asp-action="OptionsUpdate" method="post">
        <div class="text-center">
            <a asp-action="Options" asp-route-ProdId="@ViewBag.ProdId" class="btn btn-primary"> Назад </a>
            <input type="hidden" name="ProdId" value="@ViewBag.ProdId" />
            <button type="submit" class="btn btn-primary">Заполнить </button>
        </div>

        <input type="hidden" asp-for="ProductId" value="@ViewBag.ProdId" />

        <div asp-validation-summary="All">
            <div class="card-body">
                <table id="datatablesSimple">

                    @*Процессор*@
                    <thead>
                        <tr>
                            <th><h6>Процессор</h6></th>
                            <th>Наименование</th>
                            <th>Количество ядер</th>
                            <th>Количество потоков</th>
                            <th>Частота</th>
                            <th>Масимальная частота автоматического ускорения</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td></td>
                            <td><input class="form-control" asp-for="ProcessorModelName" /></td>
                            <td><input class="form-control" asp-for="QuantityCore" /></td>
                            <td><input class="form-control" asp-for="NumberOfThreads" /></td>
                            <td><input class="form-control" asp-for="CPUFrequency" /></td>
                            <td><input class="form-control" asp-for="MaxCPUFrequency" /></td>
                        </tr>

                    </tbody>


                    @*Классификация*@
                    <thead>

                        <tr>
                            <th><h6>Классификация</h6></th>
                            <th>Наименование</th>
                            <th>Код производителя</th>
                            <th>Год выпуска</th>
                            <th>Операционная система</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td></td>
                            <td><input class="form-control" asp-for="Model" /></td>
                            <td><input class="form-control" asp-for="ManufacturerCode" /></td>
                            <td><input class="form-control" asp-for="ReleaseYear" /></td>
                            <td><input class="form-control" asp-for="OperatingSystem" /></td>
                        </tr>

                    </tbody>

                    @*Материал*@
                    <thead>

                        <tr>
                            <th><h6>Материал</h6></th>
                            <th>Материал верхней крышки</th>
                            <th>Материал корпуса</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td><input class="form-control" asp-for="CoverMaterial" /></td>
                            <td><input class="form-control" asp-for="HousingMaterial" /></td>
                        </tr>
                    </tbody>

                    @*Экран*@
                    <thead>
                        <tr>
                            <th><h6>Экран</h6></th>
                            <th>Тип</th>
                            <th>Диагональ</th>
                            <th>Разрешение</th>
                            <th>Максимальная частота обновления</th>
                            <th>Плотность пикселей</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td></td>
                            <td><input class="form-control" asp-for="ScreenType" /></td>
                            <td><input class="form-control" asp-for="ScreenDiagonal" /></td>
                            <td><input class="form-control" asp-for="ScreenResolution" /></td>
                            <td><input class="form-control" asp-for="MaximumScreenRefreshRate" /></td>
                            <td><input class="form-control" asp-for="PixelDensity" /></td>
                        </tr>
                    </tbody>

                    @*Оперативная память*@
                    <thead>

                        <tr>
                            <th><h6>Оперативная память</h6></th>
                            <th>Тип</th>
                            <th>Обьем</th>
                            <th>Частота </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td></td>
                            <td><input class="form-control" asp-for="RAMType" /></td>
                            <td><input class="form-control" asp-for="RAMMemory" /></td>
                            <td><input class="form-control" asp-for="RAMFrequency" /></td>
                        </tr>
                    </tbody>

                    @*Графический ускоритель*@
                    <thead>

                        <tr>
                            <th><h6>Графический ускоритель</h6></th>
                            <th>Тип</th>
                            <th>Встроенный</th>
                            <th>Дискретный </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td><input class="form-control" asp-for="TypeOfGraphicsAccelerator" /></td>
                            <td><input class="form-control" asp-for="BuiltInGraphicsCardModel" /></td>
                            <td><input class="form-control" asp-for="DiscreteGraphicsCardModel" /></td>
                        </tr>
                    </tbody>

                    Накопители данных
                    <thead>

                        <tr>
                            <th><h6>Накопители данных</h6></th>
                            <th>Обьем SSD</th>
                            <th>Обьем HDD</th>
                            <th>Обьем EMMC </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td><input class="form-control" asp-for="VolumeSSD" /></td>
                            <td><input class="form-control" asp-for="VolumeHDD" /></td>
                            <td><input class="form-control" asp-for="VolumeEMMC" /></td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </form>
</div>