@{
    Layout = "_AdminLayout";
}

@model ItStore.Models.DataFolder.ProductQuantity


<div class="container text-center">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Редактирование
    </div>

    <div class="card-body">
        <form class="text-black" asp-validation-summary="All" asp-action="ProductQuantityUpdate" method="post">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Количество</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input class="form-control" asp-for="Quantity" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-primary col" asp-action="ProductQuantity"> Назад </a>
            <button class="btn btn-primary col" type="submit">Заполнить</button>
        </form>
    </div>
</div>