<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IT'Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans:wght@300&family=Raleway:wght@200&display=swap" rel="stylesheet">
</head>
<body class="container">
    <header class="header">       
            <div class="header__inner">
                <div class="header__logo">
                    <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Images/Icons/Logo.png"></a>
                </div>
                <nav class="nav">
                    <a class="nav__link" asp-area="" asp-controller="Catalog" asp-action="Catalog"> Каталог </a>
                    <a class="nav__link" asp-area="" asp-controller="Home" asp-action="Index"> Гарантия и возврат </a>
                    <a class="nav__link" asp-area="" asp-controller="Home" asp-action="Index"> Успей купить </a>
                    <a class="nav__link" asp-area="" asp-controller="Home" asp-action="Index"> Контакты </a>
                </nav>
                <nav class="nav">
                    <div class="d6 text-white">
                        <form method="get" asp-action="Catalog" asp-controller="Catalog">
                            <input type="text" class="form-control-sm text-white" name="searchstring" placeholder="Искать здесь...">
                            <button type="submit" asp-action="Catalog" asp-controller="Catalog" class="nav__link"><img src="~/Images/Icons/Search.png" /></button>
                        </form>
                    </div>


                    <div>
                        <a class="nav__link" asp-area="" asp-controller="Cart" asp-action="Cart"><img src="~/Images/Icons/Basket.png" /></a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                <a type="" class="nav__link" asp-area="" asp-controller="Account" asp-action="AdminProfile"><img src="~/Images/Icons/User.png" /></a>
                            }
                            else
                            {
                                <a type="" class="nav__link" asp-area="" asp-controller="Account" asp-action="Profile"><img src="~/Images/Icons/User.png" /></a>
                            }

                        }
                        else
                        {
                            <a class="nav__link" asp-area="" asp-controller="Account" asp-action="Login"><img src="~/Images/Icons/User.png" /></a>
                        }

                    </div>
                </nav>
            </div>
       
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
