<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IT'Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/style.css" />
    <script src="~/js/site.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans:wght@300&family=Raleway:wght@200&display=swap" rel="stylesheet">
</head>
<body class="order__input">
    <header class="header">
        <div class="px-3 py-2 text-white">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        <img src="~/Images/Icons/Logo.png">
                    </a>


                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a asp-area="" asp-controller="Catalog" asp-action="Catalog" class="nav-link text-white nav__link">
                                Каталог
                            </a>
                        </li>
                        <li>
                            <button type="button" class="btn__link text__decoration nav-link text-white nav__link" data-bs-toggle="modal" data-bs-target="#Garantee">
                                Гарантия и возврат
                            </button>
                        </li>
                        <li>
                            <form asp-controller="Catalog" asp-action="Catalog">
                                <button type="submit" name="HotProduct" value="true" class="btn__link text__decoration nav-link text-white nav__link">
                                    Успей купить
                                </button>
                            </form>

                        </li>
                        <li>
                            <button type="button" class="btn__link text__decoration nav-link text-white nav__link" data-bs-toggle="modal" data-bs-target="#FeedBack">
                                Обратная связь
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="px-3 py-2 border-bottom mb-3">
            <div class="container d-flex flex-wrap justify-content-center">

                <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" method="get" asp-action="Catalog" asp-controller="Catalog">
                    <input type="text" class="form-control form-control-dark text-white" name="searchstring" placeholder="Искать...">
                </form>


                <div class="text-end">
                    <a class="nav__link" asp-area="" asp-controller="Cart" asp-action="Cart"><img src="~/Images/Icons/Basket.png" /></a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a type="" class="nav__link nav__link_icon" asp-area="" asp-controller="Account" asp-action="Profile"><img src="~/Images/Icons/User.png" /></a>

                    }
                    else
                    {

                        <button type="button" class="button nav__link nav__link_icon" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <img src="~/Images/Icons/User.png" />
                        </button>
                    }
                </div>
            </div>
        </div>
    </header>

    @*//Modal account*@
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-black" id="exampleModalLabel">Войти или зарегестрироваться</h5>
                    <button type="button" class="button__none" data-bs-dismiss="modal" aria-label="Close">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
                            <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
                        </svg>
                    </button>
                </div>
                <form asp-controller="Account" asp-action="login" method="post">
                    <div class="modal-body">

                        <div asp-validation-summary="All"></div>
                        <p class="text-black">
                            <label>Логин</label>
                            <input class="form-control" name="Login" />
                        </p>
                        <p class="text-black">
                            <label>Пароль</label>
                            <input type="password" class="form-control" name="Password" />
                        </p>

                    </div>
                    <div class="modal-footer text-black">
                        <button type="submit" class="modal__button">Войти</button>
                        <a class="nav__link text-black modal__button" asp-controller="Account" asp-action="UserCreate">Регестрация</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @*//Modal feedback*@
    <div class="modal fade" id="FeedBack" tabindex="-1" aria-labelledby="FeedBack" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-black" id="FeedBack">Обратная связь</h5>
                    <button type="button" class="button__none" data-bs-dismiss="modal" aria-label="Close">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
                            <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
                        </svg>
                    </button>
                </div>
                <form asp-controller="Home" asp-action="FeedBack" method="post">
                    <div class="modal-body">

                        <div asp-validation-summary="All"></div>
                        <div class="row">
                            <p class="text-black col-3">Я хочу </p>
                            <p class="col-6">

                                <select name="TypeMesseage" class="form-control-plaintext">
                                    <option class="text-black" value="Оставить жалобу">Оставить жалобу</option>
                                    <option class="text-black" value="Задать вопрос">Задать вопрос</option>
                                    <option class="text-black" value="Поблагодарить">Поблагодарить</option>
                                    <option class="text-black" value="Сделать предложение">Сделать предложение</option>
                                    <option class="text-black" value="Сообщить об ошибке сайта">Сообщить об ошибке сайта</option>
                                </select>

                            </p>
                        </div>
                        <p class="text-black">
                            Ваше обращение
                            <textarea class="text-black form-control w-100" name="Text"> </textarea>
                        </p>
                        <p class="text-black">
                            <label>Допольнительный E-Mail</label>
                            <input class="form-control" name="Email" />
                        </p>

                    </div>
                    <div class="modal-footer text-black">
                        <button type="submit" class="modal__button">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    @*//Modal Garantee*@
    <div class="modal fade" id="Garantee" tabindex="-1" aria-labelledby="Garantee" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-black" id="Garantee">Гарантия и возврат</h5>
                    <button type="button" class="button__none" data-bs-dismiss="modal" aria-label="Close">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
                            <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
                        </svg>
                    </button>
                </div>
                <form asp-controller="Home" asp-action="FeedBack" method="post">
                    <div class="modal-body">

                        <div asp-validation-summary="All"></div>
                        <div class="row">
                            <p class="text-black col-3">Поблема с </p>
                            <p class="col-6">

                                <select name="TypeMesseage" class="form-control-plaintext">
                                    <option class="text-black" value="Не надлежащее качество">Качеством</option>
                                    <option class="text-black" value="Брак">Поломкой</option>
                                    <option class="text-black" value="Пришел не тот продукт">Маркой (пришел не тот проудкт)</option>
                                </select>

                            </p>
                        </div>

                        <p class="text-black">
                            Укажите марку и модель продукта
                            <input class="text-black form-control" name="ProductName" />
                        </p>

                        <p class="text-black">
                            Опишие проблему
                            <textarea class="text-black form-control w-100" name="Text"> </textarea>
                        </p>

                        <p class="text-black">
                            <label>Допольнительный E-Mail</label>
                            <input class="form-control" name="Email" />
                        </p>

                    </div>
                    <div class="modal-footer text-black">
                        <button name="TypeFeedback" value="true" type="submit" class="modal__button">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>





    <div class="wrapper">

        <div class="content">
            <div class="container">
                @RenderBody()
            </div>
        </div>



        @*foorer*@
        <div class="footer">
            <div class="footer__position">
                <div class="container">
                    <footer class="py-5">
                        <div class="row">


                            <div class=" col">

                                <a asp-area="" asp-controller="Home" asp-action="Index" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                                    <img class="footer__logo" src="~/Images/Icons/Logo.png">
                                    <img class="footer__image" src="~/Images/MainPages/FooterImage.png"/>
                                </a>                             

                            </div>

                            <div class="col">
                                <ul class="nav flex-column">

                                    <li>
                                        <a asp-area="" asp-controller="Catalog" asp-action="Catalog" class="nav-link text-white nav__link text__decoration">
                                            Каталог
                                        </a>
                                    </li>

                                    <li>
                                        <button type="button" class="btn__footer text__decoration nav-link text-white nav__link" data-bs-toggle="modal" data-bs-target="#Garantee">
                                            Гарантия и возврат
                                        </button>
                                    </li>

                                    <li>
                                        <button type="button" class="btn__footer text__decoration nav-link text-white nav__link" data-bs-toggle="modal" data-bs-target="#FeedBack">
                                            Обратная связь
                                        </button>
                                    </li>

                                    <li>
                                        <form asp-controller="Catalog" asp-action="Catalog">
                                            <button type="submit" name="HotProduct" value="true" class="btn__footer text__decoration nav-link text-white nav__link">
                                                Успей купить
                                            </button>
                                        </form>

                                    </li>
                                </ul>
                            </div>

                            <div style=" font-size: x-large;" class="col my-1">
                                <p class="text__decoration opacity-75  text-white my-1">Мы в соц.сетях</p>
                                <ul class="nav flex-column">

                                    <li>

                                        <a class="nav-link text-white nav__link text__decoration" href="https://www.instagram.com/">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                                                    <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z" />
                                                </svg>
                                            </span>  <span class="mx-4 text__decoration opacity-75"> Инстаграм</span>
                                        </a>
                                    </li>


                                    <li>
                                        <a class="nav-link text-white nav__link text__decoration" href="https://ru-ru.facebook.com/">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-meta" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M8.217 5.243C9.145 3.988 10.171 3 11.483 3 13.96 3 16 6.153 16.001 9.907c0 2.29-.986 3.725-2.757 3.725-1.543 0-2.395-.866-3.924-3.424l-.667-1.123-.118-.197a54.944 54.944 0 0 0-.53-.877l-1.178 2.08c-1.673 2.925-2.615 3.541-3.923 3.541C1.086 13.632 0 12.217 0 9.973 0 6.388 1.995 3 4.598 3c.319 0 .625.039.924.122.31.086.611.22.913.407.577.359 1.154.915 1.782 1.714Zm1.516 2.224c-.252-.41-.494-.787-.727-1.133L9 6.326c.845-1.305 1.543-1.954 2.372-1.954 1.723 0 3.102 2.537 3.102 5.653 0 1.188-.39 1.877-1.195 1.877-.773 0-1.142-.51-2.61-2.87l-.937-1.565ZM4.846 4.756c.725.1 1.385.634 2.34 2.001A212.13 212.13 0 0 0 5.551 9.3c-1.357 2.126-1.826 2.603-2.581 2.603-.777 0-1.24-.682-1.24-1.9 0-2.602 1.298-5.264 2.846-5.264.091 0 .181.006.27.018Z" />
                                                </svg>
                                            </span>  <span class="mx-4 text__decoration opacity-75">   Фэйсбук </span>
                                        </a>
                                    </li>

                                    <li>

                                        <a class="nav-link text-white nav__link text__decoration" href="https://web.telegram.org/k/">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
                                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z" />
                                                </svg>
                                            </span> <span class="mx-4 text__decoration opacity-75"> Телеграм </span>
                                        </a>
                                    </li>


                                </ul>
                            </div>

                            <div class="col my-1">
                                <p class="text__decoration text-white opacity-75  my-1">
                                    Главный Российский офис:
                                </p>
                                <p class="text__decoration text-white opacity-75  my-1">
                                    г. Ростов-на-Дону
                                </p>
                                <p class="text__decoration text-white opacity-75  my-1">
                                    ул. Мечникова 79
                                </p>
                                <p class="text__decoration text-white opacity-75  my-1">
                                    +7-(951)-537-17-17 </p>
                                </p>
                            </div>

                        </div>
                        <div class="text-center">
                            <p class="text-muted"> It'Store &copy; 2022-2022 | Все права защищены.</p>
                        </div>
                        
                    </footer>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
