@model Commentaries
    <ul class="media-list comment__border">
        <li class="media">
            <div class="comment">
                <div class="media-body">
                    <strong class="text-success">@Model.UserName</strong>
                    <span class="text-muted">
                        <small class="text-muted">@Model.Created.</small>
                    </span>
                    <p>
                        @Model.Comment
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
            <ul class="media-list">
            </ul>
        </li>
    </ul>
