@model Options
<tr class="col-md-3">
    <th>Размер</th>
    <th>Частота процессора </th>
    <th>Цвет</th>
    <th>Производитель</th>
</tr>
<tr class="col-md-3">
    <td>@Model.Size</td>
    <td>@Model.ClockFrequency</td>
    <td>@Model.Color</td>
    <td>@Model.Model</td>
</tr>