@model Options
<div class="row justify-content-between">
    <div>
            <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Процессор @Model.ProcessorModelName .....
            </a>

    </div>
    <p>
        
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body text-black">
            <p> Частота @Model.MaxCPUFrequency</p>
        </div>
    </div>
</div>
