@model Commentaries
    <li class="media">
        <div class="comment">
            <a href="#" class="pull-left">
                @*@foreach (var q in Model.)
                {
                    @Html.Raw("<img class='d-block' style='width:209px; height:210px;' src=\"data:image/jpeg;base64,"
                                              + Convert.ToBase64String(q.Image) + "\" />")
                }*@
                <img src="https://bootstraptema.ru/snippets/element/2016/comments/com-1.jpg" alt="" class="img-circle">
            </a>
            <div class="media-body">
                <strong class="text-success">@Model.UserName</strong>
                <span class="text-muted">
                    <small class="text-muted">2016-02-11</small>
                </span>
                <p>
                   @Model.Comment
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
        <ul class="media-list">
        </ul>
    </li>