@{
    Layout = "_AdminLayout";
}
@model ItStore.Models.DataFolder.Product
<div class="container text-center">
    <div class="card-header">
        <p>
            <i class="fas fa-table me-1"></i>
            Редактирование @Model.Name <br />
        </p> 
    </div>

    <div class="card-body" asp-validation-summary="All">
        <form class="text-black" asp-action="ProductUpdate" method="post" enctype="multipart/form-data">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Наименование продукта</th>
                        <th>Цена продукта</th>
                        <th>Модель товара</th>
                        <th>Категория</th>
                        <th>Файл изображения</th>
                        <th>Ид склада (загулшка)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input class="form-control" asp-for="Name" />
                        </td>

                        <td>
                            <input class="form-control" asp-for="Price" />
                        </td>

                        <td>
                            <input class="form-control" asp-for="Model" />
                        </td>

                        <td>
                            <select asp-for="@Model.Categories" class="form-control-plaintext">
                                <option class="text-black" value="Смартфоны и гаджеты">Смартфоны и гаджеты</option>
                                <option class="text-black" value="ТВ и мультимедиа">ТВ и мультимедиа</option>
                                <option class="text-black" value="Компьютеры">Компьютеры</option>
                            </select>
                        </td>

                        <td>
                            <div class="editor-field">
                                <input class="form-control" type="file" name="file" asp-for="Image" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-primary col" asp-action="Product">Назад</a>
            <button class="btn btn-primary col" type="submit">Сохранить</button>
        </form>
        <p class="text-center">При редактировании изображение необходимо перезаписать</p>
    </div>
</div>
