@model ItStore.Models.DataFolder.Product
<div class="intro intro__title container">
    <form asp-action="ProductForm" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All">
            <p>
                <label asp-for="Name">Наименование продукта</label>
                <input class="form-control" asp-for="Name" />
            </p>
            <p>
                <label asp-for="Price">Цена продукта</label>
                <input class="form-control" asp-for="Price" />
            </p>
            <p>
                <label asp-for="Quantity">Количество товара</label>
                <input class="form-control" asp-for="Quantity" />
            </p>
            <p>
                <label asp-for="Aviability">Доступность</label>
                <input type="checkbox" class="form-check" asp-for="Aviability" />
            </p>
            <p>
                <label asp-for="Model">Модель товара</label>
                <input class="form-control" asp-for="Model" />
            </p>
            <p>
                <label asp-for="Categories">Категория</label>
                <select asp-for="@Model.Categories" class="form-control-plaintext text-white">
                    <option class="text-black" value="Смартфоны и гаджеты">Смартфоны и гаджеты</option>
                    <option class="text-black" value="ТВ и мультимедиа">ТВ и мультимедиа</option>
                    <option class="text-black" value="Компьютеры">Компьютеры</option>
                </select>
            </p>
            <p>
                <label asp-for="SEO">Сео ядро</label>
                <input class="form-control" asp-for="SEO" />
            </p>
            <fieldset>
                <div class="editor-label">Файл изображения</div>
                <div class="editor-field">
                    <input type="file" name="file" />
                </div>
            </fieldset>
            <p>
                <label asp-for="WareHouseId">Ид склада (загулшка)</label>
                <input class="form-control" asp-for="WareHouseId" />
            </p>
        </div>
        <div class="row">
            <button class="btn col" type="submit" asp-action="ProductForm">Заполнить</button>
            <a class="btn col" asp-action="Product"> Таблица товара</a>
        </div>

    </form>
   
</div>