@model IEnumerable<ItStore.Models.DataFolder.Product>
<div class="intro container">
    <table>
        <tr>
            <th>Наименование</th>
            <th>Цена</th>
            <th>Модель</th>
        </tr>

        @{
            foreach (var q in Model)
            {
                <tr>
                    <td>@q.Name.</td>
                    <td>@q.Price</td>
                    <td>@q.Model</td>
                </tr>
            }
        }


    </table>
    <a class="btn" asp-controller="Product" asp-action="ProductForm" > Заполнение продуктов</a>
</div>