@{
    ViewData["Title"] = "Home Page";
}
@*<div class="intro  intro__title">
        <div class="container">
            <div class=" row justify-content-start">    container__logo
                <div class="col-4"> text__banner
                    <p>MSI Alpha 15</p>
                </div>
                <div class="">   text__info
                    <p>Оформите заказ на MSI Alpha 15 и получите скидочный купон на весь ассортимент</p>
                </div>
            </div>
            <div class=""> text__systeminfo
                <p>
                    Процессор до AMD Ryzen™ 7 4800H <br />
                    Графика до AMD Radeon™ RX 5600M 6GB GDDR6 <br />
                    15.6" Full HD (1920x1080) <br />
                </p>

            </div>
            <form method="post">
                 <button class="button__style button__place" asp-area="" asp-controller="Account" asp-action="Login">Подробнее</button>
            </form>
            <div class="elipse__right"></div>
            <div class="">  showcase
                <img src="~/Images/MainPages/Firstblock/Desk1.png" />
            </div>
        </div>
    </div>*@

<div class="d-none d-lg-block">
    <div class="intro">
        <div class="elipse__right"></div>
        <div class="banner">
            <div class="row justify-content-lg-start">
                <div class="col-4">
                    <h1>MSI Alpha 15</h1>
                    <p>Оформите заказ на MSI Alpha 15 и получите скидочный купон на весь ассортимент</p>
                    <form method="post">
                        <button asp-area="" asp-controller="Account" asp-action="Login">Подробнее</button>
                    </form>
                </div>
                <div class="col">
                    <img src="~/Images/MainPages/Firstblock/Desk1.png" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-lg-none">
    <div class="intro">
        <div class="elipse__right"></div>
        <div class="banner">
            <div class="row justify-content-lg-start">
                <div class="col-4">
                    <h2><b>MSI Alpha 15555</b></h2>
                    <p>Оформите заказ на MSI Alpha 15 и получите скидочный купон на весь ассортимент</p>
                    <form method="post">
                        <button asp-area="" asp-controller="Account" asp-action="Login">Подробнее</button>
                    </form>
                </div>
                <div class="col">
                    <img src="~/Images/MainPages/Firstblock/Desk1.png" />
                </div>
            </div>
        </div>

    </div>
</div>



